USE [master]
GO
/****** Object:  Database [apotek_db]    Script Date: 6/14/2026 8:03:23 PM ******/
CREATE DATABASE [apotek_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'apotek_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\apotek_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'apotek_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\apotek_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [apotek_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [apotek_db]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[kode_kategori] [nvarchar](10) NOT NULL,
	[nama_kategori] [nvarchar](100) NOT NULL,
	[deskripsi] [nvarchar](max) NULL,
	[jenis_obat] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id_supplier] [int] IDENTITY(1,1) NOT NULL,
	[kode_supplier] [nvarchar](10) NOT NULL,
	[nama_supplier] [nvarchar](150) NOT NULL,
	[alamat] [nvarchar](max) NULL,
	[no_telepon] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[contact_person] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obat]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obat](
	[id_obat] [int] IDENTITY(1,1) NOT NULL,
	[kode_obat] [nvarchar](15) NOT NULL,
	[nama_obat] [nvarchar](150) NOT NULL,
	[id_kategori] [int] NULL,
	[id_supplier] [int] NULL,
	[satuan] [nvarchar](20) NOT NULL,
	[stok] [int] NOT NULL,
	[stok_minimum] [int] NOT NULL,
	[harga_beli] [decimal](12, 2) NOT NULL,
	[harga_jual] [decimal](12, 2) NOT NULL,
	[tgl_kadaluarsa] [date] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_stok_menipis]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_stok_menipis] AS
SELECT
    o.id_obat,
    o.kode_obat,
    o.nama_obat,
    k.nama_kategori,
    s.nama_supplier,
    o.satuan,
    o.stok,
    o.stok_minimum,
    (o.stok_minimum - o.stok) AS kekurangan,
    o.harga_beli
FROM obat o
LEFT JOIN kategori k ON o.id_kategori = k.id_kategori
LEFT JOIN supplier s ON o.id_supplier = s.id_supplier
WHERE o.stok <= o.stok_minimum
  AND o.is_active = 1;
GO
/****** Object:  View [dbo].[vw_obat_kadaluarsa]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_obat_kadaluarsa] AS
SELECT
    o.id_obat,
    o.kode_obat,
    o.nama_obat,
    k.nama_kategori,
    o.stok,
    o.satuan,
    o.tgl_kadaluarsa,
    DATEDIFF(DAY, CAST(GETDATE() AS DATE), o.tgl_kadaluarsa) AS sisa_hari,
    CASE
        WHEN o.tgl_kadaluarsa < CAST(GETDATE() AS DATE)                             THEN 'Kadaluarsa'
        WHEN DATEDIFF(DAY, CAST(GETDATE() AS DATE), o.tgl_kadaluarsa) <= 30         THEN 'Kritis'
        WHEN DATEDIFF(DAY, CAST(GETDATE() AS DATE), o.tgl_kadaluarsa) <= 90         THEN 'Perhatian'
        ELSE 'Aman'
    END AS status_kadaluarsa
FROM obat o
LEFT JOIN kategori k ON o.id_kategori = k.id_kategori
WHERE o.tgl_kadaluarsa IS NOT NULL
  AND o.tgl_kadaluarsa <= DATEADD(DAY, 90, CAST(GETDATE() AS DATE))
  AND o.is_active = 1;
GO
/****** Object:  Table [dbo].[penjualan_header]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penjualan_header](
	[id_penjualan] [int] IDENTITY(1,1) NOT NULL,
	[no_penjualan] [nvarchar](20) NOT NULL,
	[id_pelanggan] [int] NULL,
	[id_petugas] [int] NOT NULL,
	[id_resep] [int] NULL,
	[tgl_transaksi] [datetime] NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
	[diskon] [decimal](14, 2) NOT NULL,
	[total_harga] [decimal](14, 2) NOT NULL,
	[uang_bayar] [decimal](14, 2) NOT NULL,
	[uang_kembali] [decimal](14, 2) NOT NULL,
	[metode_bayar] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[petugas]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petugas](
	[id_petugas] [int] IDENTITY(1,1) NOT NULL,
	[kode_petugas] [nvarchar](10) NOT NULL,
	[nama_petugas] [nvarchar](150) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_penjualan_harian]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_penjualan_harian] AS
SELECT
    CAST(ph.tgl_transaksi AS DATE)  AS tanggal,
    COUNT(ph.id_penjualan)          AS jumlah_transaksi,
    SUM(ph.total_harga)             AS total_pendapatan,
    SUM(ph.diskon)                  AS total_diskon,
    AVG(ph.total_harga)             AS rata_rata_transaksi,
    ph.metode_bayar,
    p.nama_petugas
FROM penjualan_header ph
JOIN petugas p ON ph.id_petugas = p.id_petugas
WHERE ph.status = 'selesai'
GROUP BY
    CAST(ph.tgl_transaksi AS DATE),
    ph.metode_bayar,
    p.nama_petugas;
GO
/****** Object:  Table [dbo].[resep_detail]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resep_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_resep] [int] NOT NULL,
	[id_obat] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[dosis] [nvarchar](50) NULL,
	[aturan_pakai] [nvarchar](100) NULL,
	[catatan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelanggan]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelanggan](
	[id_pelanggan] [int] IDENTITY(1,1) NOT NULL,
	[kode_pelanggan] [nvarchar](10) NOT NULL,
	[nama_pelanggan] [nvarchar](150) NOT NULL,
	[no_telepon] [nvarchar](20) NULL,
	[alamat] [nvarchar](max) NULL,
	[no_bpjs] [nvarchar](20) NULL,
	[jenis_pelanggan] [nvarchar](10) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resep_header]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resep_header](
	[id_resep] [int] IDENTITY(1,1) NOT NULL,
	[no_resep] [nvarchar](20) NOT NULL,
	[id_pelanggan] [int] NOT NULL,
	[id_petugas] [int] NOT NULL,
	[nama_dokter] [nvarchar](150) NULL,
	[tgl_resep] [date] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[asal_klinik] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_resep_pending]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_resep_pending] AS
SELECT
    rh.id_resep,
    rh.no_resep,
    pl.nama_pelanggan,
    rh.nama_dokter,
    rh.asal_klinik,
    rh.tgl_resep,
    rh.status,
    COUNT(rd.id_detail)                                         AS jumlah_item,
    DATEDIFF(DAY, rh.tgl_resep, CAST(GETDATE() AS DATE))       AS hari_menunggu
FROM resep_header rh
JOIN pelanggan    pl  ON rh.id_pelanggan = pl.id_pelanggan
JOIN resep_detail rd  ON rh.id_resep     = rd.id_resep
WHERE rh.status IN ('menunggu', 'diproses')
GROUP BY
    rh.id_resep, rh.no_resep, pl.nama_pelanggan,
    rh.nama_dokter, rh.asal_klinik, rh.tgl_resep, rh.status;
GO
/****** Object:  Table [dbo].[log_stok]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_stok](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_obat] [int] NOT NULL,
	[id_petugas] [int] NULL,
	[stok_sebelum] [int] NOT NULL,
	[jumlah_perubahan] [int] NOT NULL,
	[stok_sesudah] [int] NOT NULL,
	[jenis_transaksi] [nvarchar](20) NOT NULL,
	[keterangan] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pembelian_detail]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembelian_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_pembelian] [int] NOT NULL,
	[id_obat] [int] NOT NULL,
	[qty_pesan] [int] NOT NULL,
	[qty_terima] [int] NOT NULL,
	[harga_satuan] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
	[tgl_kadaluarsa] [date] NULL,
	[no_batch] [nvarchar](50) NULL,
	[stok_sisa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pembelian_header]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembelian_header](
	[id_pembelian] [int] IDENTITY(1,1) NOT NULL,
	[no_pembelian] [nvarchar](20) NOT NULL,
	[id_supplier] [int] NOT NULL,
	[id_petugas] [int] NOT NULL,
	[tgl_pesan] [date] NOT NULL,
	[tgl_terima] [date] NULL,
	[total_harga] [decimal](14, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[keterangan] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penjualan_detail]    Script Date: 6/14/2026 8:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penjualan_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_penjualan] [int] NOT NULL,
	[id_obat] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[harga_satuan] [decimal](12, 2) NOT NULL,
	[diskon_pct] [decimal](5, 2) NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kategori] ON 

INSERT [dbo].[kategori] ([id_kategori], [kode_kategori], [nama_kategori], [deskripsi], [jenis_obat], [is_active], [created_at]) VALUES (1, N'K001', N'Umum', N'Obat Umum', N'bebas', 1, CAST(N'2026-06-10T09:29:17.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[log_stok] ON 

INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [keterangan], [created_at]) VALUES (1, 4, 1, 2, -1, 1, N'penjualan', N'Penjualan obat', CAST(N'2026-06-10T09:39:43.520' AS DateTime))
INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [keterangan], [created_at]) VALUES (2, 3, 1, 10, -5, 5, N'penjualan', N'Penjualan obat', CAST(N'2026-06-14T00:05:03.943' AS DateTime))
INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [keterangan], [created_at]) VALUES (3, 4, 1, 15, -1, 14, N'penjualan', N'Penjualan obat', CAST(N'2026-06-14T19:59:43.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[log_stok] OFF
GO
SET IDENTITY_INSERT [dbo].[obat] ON 

INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [is_active], [created_at], [updated_at]) VALUES (1, N'OB001', N'Paracetamol', 1, 1, N'pcs', 100, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(7000.00 AS Decimal(12, 2)), CAST(N'2027-06-10' AS Date), 1, CAST(N'2026-06-10T09:29:17.640' AS DateTime), CAST(N'2026-06-10T09:29:17.640' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [is_active], [created_at], [updated_at]) VALUES (2, N'OB002', N'Bodrex Expired', 1, 1, N'pcs', 50, 10, CAST(2000.00 AS Decimal(12, 2)), CAST(3000.00 AS Decimal(12, 2)), CAST(N'2026-05-31' AS Date), 1, CAST(N'2026-06-10T09:29:17.640' AS DateTime), CAST(N'2026-06-10T09:29:17.640' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [is_active], [created_at], [updated_at]) VALUES (3, N'OBT-003', N'Vitamin c', NULL, NULL, N'pcs', 0, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(7500.00 AS Decimal(12, 2)), NULL, 1, CAST(N'2026-06-10T09:37:35.757' AS DateTime), CAST(N'2026-06-14T00:05:03.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[obat] OFF
GO
SET IDENTITY_INSERT [dbo].[pelanggan] ON 

INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active]) VALUES (1, N'PL001', N'Pasien Umum', NULL, NULL, NULL, N'umum', CAST(N'2026-06-10T09:29:17.640' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[pelanggan] OFF
GO
SET IDENTITY_INSERT [dbo].[pembelian_detail] ON 

INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa]) VALUES (1, 1, 3, 10, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(14, 2)), CAST(N'2026-06-30' AS Date), NULL, 5)
INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa]) VALUES (2, 2, 4, 2, 2, CAST(5000.00 AS Decimal(12, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(N'2026-06-09' AS Date), NULL, 1)
INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa]) VALUES (3, 3, 4, 10, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(14, 2)), CAST(N'2026-07-14' AS Date), NULL, 9)
SET IDENTITY_INSERT [dbo].[pembelian_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[pembelian_header] ON 

INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at]) VALUES (1, N'PO-20260610023758', 1, 1, CAST(N'2026-06-10' AS Date), NULL, CAST(50000.00 AS Decimal(14, 2)), N'diterima', NULL, CAST(N'2026-06-10T09:37:58.623' AS DateTime))
INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at]) VALUES (2, N'PO-20260610023902', 1, 1, CAST(N'2026-06-10' AS Date), NULL, CAST(10000.00 AS Decimal(14, 2)), N'diterima', NULL, CAST(N'2026-06-10T09:39:02.330' AS DateTime))
INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at]) VALUES (3, N'PO-20260614124704', 1, 1, CAST(N'2026-06-14' AS Date), NULL, CAST(50000.00 AS Decimal(14, 2)), N'diterima', NULL, CAST(N'2026-06-14T19:47:04.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[pembelian_header] OFF
GO
SET IDENTITY_INSERT [dbo].[penjualan_detail] ON 

INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (1, 1, 4, 1, CAST(7000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(7000.00 AS Decimal(14, 2)))
INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (2, 2, 3, 5, CAST(7500.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(37500.00 AS Decimal(14, 2)))
INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (3, 3, 4, 1, CAST(7000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(7000.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[penjualan_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[penjualan_header] ON 

INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (1, N'SL-20260610023943', 1, 1, 1, CAST(N'2026-06-10T09:39:43.337' AS DateTime), CAST(7000.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(7000.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(3000.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-06-10T09:39:43.337' AS DateTime))
INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (2, N'SL-20260613170503', 1, 1, 2, CAST(N'2026-06-14T00:05:03.733' AS DateTime), CAST(37500.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(37500.00 AS Decimal(14, 2)), CAST(50000.00 AS Decimal(14, 2)), CAST(12500.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-06-14T00:05:03.733' AS DateTime))
INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (3, N'SL-20260614125943', 1, 1, 3, CAST(N'2026-06-14T19:59:43.697' AS DateTime), CAST(7000.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(7000.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(3000.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-06-14T19:59:43.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[penjualan_header] OFF
GO
SET IDENTITY_INSERT [dbo].[petugas] ON 

INSERT [dbo].[petugas] ([id_petugas], [kode_petugas], [nama_petugas], [username], [password_hash], [is_active], [created_at]) VALUES (1, N'P001', N'Fahdimas Akmal', N'admin', N'$2y$10$8W6g8dy9EenJzK.NdPcx2eRSuqpZmGsAaqxyBef/X1DXOi2IX8IDO', 1, CAST(N'2026-06-10T09:29:17.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[petugas] OFF
GO
SET IDENTITY_INSERT [dbo].[resep_detail] ON 

INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (1, 1, 4, 1, N'3x1', N'Setelah makan', NULL)
INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (2, 2, 3, 5, N'2x1', N'Setelah makan', NULL)
INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (3, 3, 4, 1, N'3x1', N'Setelah makan', NULL)
SET IDENTITY_INSERT [dbo].[resep_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[resep_header] ON 

INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [tgl_resep], [status], [created_at], [asal_klinik]) VALUES (1, N'RSP-20260610023924', 1, 1, N'dr.vino', CAST(N'2026-06-10' AS Date), N'selesai', CAST(N'2026-06-10T09:39:24.917' AS DateTime), NULL)
INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [tgl_resep], [status], [created_at], [asal_klinik]) VALUES (2, N'RSP-20260613170445', 1, 1, N'dr.vino', CAST(N'2026-06-14' AS Date), N'selesai', CAST(N'2026-06-14T00:04:45.410' AS DateTime), NULL)
INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [tgl_resep], [status], [created_at], [asal_klinik]) VALUES (3, N'RSP-20260614125919', 1, 1, N'dr.Andi', CAST(N'2026-06-14' AS Date), N'selesai', CAST(N'2026-06-14T19:59:19.840' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[resep_header] OFF
GO
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (1, N'S001', N'PT Kimia Farma', N'Surabaya', NULL, NULL, NULL, 1, CAST(N'2026-06-10T09:29:17.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[supplier] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__kategori__6B23B369C28EA643]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[kategori] ADD UNIQUE NONCLUSTERED 
(
	[kode_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__obat__B62326C5171C69F4]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[obat] ADD UNIQUE NONCLUSTERED 
(
	[kode_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pelangga__94422F479306C2DC]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[pelanggan] ADD UNIQUE NONCLUSTERED 
(
	[kode_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pembelia__99ACC7F8EC738E4D]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[pembelian_header] ADD UNIQUE NONCLUSTERED 
(
	[no_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__penjuala__506EEC71C65425E2]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[penjualan_header] ADD UNIQUE NONCLUSTERED 
(
	[no_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__0552D622E971220F]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[kode_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__F3DBC57258CA47D0]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__resep_he__7FC5E67FEB0A20E7]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[resep_header] ADD UNIQUE NONCLUSTERED 
(
	[no_resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__supplier__701DFC5640CC3862]    Script Date: 6/14/2026 8:03:25 PM ******/
ALTER TABLE [dbo].[supplier] ADD UNIQUE NONCLUSTERED 
(
	[kode_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT ('bebas') FOR [jenis_obat]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [stok_sebelum]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [jumlah_perubahan]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [stok_sesudah]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ('pcs') FOR [satuan]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [stok]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((10)) FOR [stok_minimum]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_beli]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_jual]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ('umum') FOR [jenis_pelanggan]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [qty_pesan]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [qty_terima]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [harga_satuan]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [stok_sisa]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [harga_satuan]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [diskon_pct]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [tgl_transaksi]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [diskon]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_kembali]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('tunai') FOR [metode_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('selesai') FOR [status]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[resep_detail] ADD  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [dbo].[resep_header] ADD  DEFAULT ('menunggu') FOR [status]
GO
ALTER TABLE [dbo].[resep_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD  CONSTRAINT [fk_ls_obat] FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[log_stok] CHECK CONSTRAINT [fk_ls_obat]
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD  CONSTRAINT [fk_ls_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[log_stok] CHECK CONSTRAINT [fk_ls_petugas]
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD  CONSTRAINT [fk_obat_kategori] FOREIGN KEY([id_kategori])
REFERENCES [dbo].[kategori] ([id_kategori])
GO
ALTER TABLE [dbo].[obat] CHECK CONSTRAINT [fk_obat_kategori]
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD  CONSTRAINT [fk_obat_supplier] FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[obat] CHECK CONSTRAINT [fk_obat_supplier]
GO
ALTER TABLE [dbo].[pembelian_detail]  WITH CHECK ADD  CONSTRAINT [fk_pd_obat] FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[pembelian_detail] CHECK CONSTRAINT [fk_pd_obat]
GO
ALTER TABLE [dbo].[pembelian_detail]  WITH CHECK ADD  CONSTRAINT [fk_pd_pembelian] FOREIGN KEY([id_pembelian])
REFERENCES [dbo].[pembelian_header] ([id_pembelian])
GO
ALTER TABLE [dbo].[pembelian_detail] CHECK CONSTRAINT [fk_pd_pembelian]
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD  CONSTRAINT [fk_ph_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[pembelian_header] CHECK CONSTRAINT [fk_ph_petugas]
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD  CONSTRAINT [fk_ph_supplier] FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[pembelian_header] CHECK CONSTRAINT [fk_ph_supplier]
GO
ALTER TABLE [dbo].[penjualan_detail]  WITH CHECK ADD  CONSTRAINT [fk_sd_obat] FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[penjualan_detail] CHECK CONSTRAINT [fk_sd_obat]
GO
ALTER TABLE [dbo].[penjualan_detail]  WITH CHECK ADD  CONSTRAINT [fk_sd_penjualan] FOREIGN KEY([id_penjualan])
REFERENCES [dbo].[penjualan_header] ([id_penjualan])
GO
ALTER TABLE [dbo].[penjualan_detail] CHECK CONSTRAINT [fk_sd_penjualan]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_pelanggan] FOREIGN KEY([id_pelanggan])
REFERENCES [dbo].[pelanggan] ([id_pelanggan])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_pelanggan]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_petugas]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_resep] FOREIGN KEY([id_resep])
REFERENCES [dbo].[resep_header] ([id_resep])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_resep]
GO
ALTER TABLE [dbo].[resep_detail]  WITH CHECK ADD  CONSTRAINT [fk_rd_obat] FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[resep_detail] CHECK CONSTRAINT [fk_rd_obat]
GO
ALTER TABLE [dbo].[resep_detail]  WITH CHECK ADD  CONSTRAINT [fk_rd_resep] FOREIGN KEY([id_resep])
REFERENCES [dbo].[resep_header] ([id_resep])
GO
ALTER TABLE [dbo].[resep_detail] CHECK CONSTRAINT [fk_rd_resep]
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD  CONSTRAINT [fk_rh_pelanggan] FOREIGN KEY([id_pelanggan])
REFERENCES [dbo].[pelanggan] ([id_pelanggan])
GO
ALTER TABLE [dbo].[resep_header] CHECK CONSTRAINT [fk_rh_pelanggan]
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD  CONSTRAINT [fk_rh_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[resep_header] CHECK CONSTRAINT [fk_rh_petugas]
GO
ALTER TABLE [dbo].[kategori]  WITH CHECK ADD CHECK  (([jenis_obat]='psikotropika' OR [jenis_obat]='narkotika' OR [jenis_obat]='keras' OR [jenis_obat]='bebas_terbatas' OR [jenis_obat]='bebas'))
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD CHECK  (([jenis_transaksi]='return' OR [jenis_transaksi]='penyesuaian' OR [jenis_transaksi]='penjualan' OR [jenis_transaksi]='pembelian'))
GO
ALTER TABLE [dbo].[pelanggan]  WITH CHECK ADD CHECK  (([jenis_pelanggan]='bpjs' OR [jenis_pelanggan]='umum'))
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='diterima' OR [status]='pending'))
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([metode_bayar]='kredit' OR [metode_bayar]='debit' OR [metode_bayar]='bpjs' OR [metode_bayar]='transfer' OR [metode_bayar]='tunai'))
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='selesai'))
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='selesai' OR [status]='diproses' OR [status]='menunggu'))
GO
/****** Object:  StoredProcedure [dbo].[sp_buat_penjualan]    Script Date: 6/14/2026 8:03:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buat_penjualan]
    @p_id_pelanggan INT,
    @p_id_petugas   INT,
    @p_id_resep     INT = NULL,
    @p_metode_bayar NVARCHAR(20),
    @p_uang_bayar   DECIMAL(14,2),
    @p_id_penjualan INT OUTPUT,
    @p_no_penjualan NVARCHAR(20) OUTPUT,
    @p_pesan        NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_no NVARCHAR(20);

    -- Generate nomor penjualan unik
    SET @v_no = CONCAT('SL', FORMAT(GETDATE(), 'yyyyMMdd'),
                        RIGHT('000' + CAST(ABS(CHECKSUM(NEWID())) % 9999 AS NVARCHAR), 4));

    BEGIN TRY
        INSERT INTO penjualan_header
            (no_penjualan, id_pelanggan, id_petugas, id_resep, metode_bayar, uang_bayar, status)
        VALUES
            (@v_no, @p_id_pelanggan, @p_id_petugas, @p_id_resep, @p_metode_bayar, @p_uang_bayar, 'selesai');

        SET @p_id_penjualan = SCOPE_IDENTITY();
        SET @p_no_penjualan = @v_no;
        SET @p_pesan        = CONCAT('Transaksi berhasil. No: ', @v_no);
    END TRY
    BEGIN CATCH
        SET @p_pesan = CONCAT('ERROR: ', ERROR_MESSAGE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_proses_kadaluarsa]    Script Date: 6/14/2026 8:03:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_proses_kadaluarsa]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_id_obat      INT;
    DECLARE @v_nama_obat    NVARCHAR(150);
    DECLARE @v_tgl_exp      DATE;
    DECLARE @v_stok_sblm    INT;
    DECLARE @v_jumlah       INT = 0;

    -- CURSOR: ambil semua obat yang sudah kadaluarsa dan masih aktif
    DECLARE cur_exp CURSOR FOR
        SELECT id_obat, nama_obat, tgl_kadaluarsa, stok
        FROM obat
        WHERE tgl_kadaluarsa < CAST(GETDATE() AS DATE)
          AND stok > 0
          AND is_active = 1;

    OPEN cur_exp;
    FETCH NEXT FROM cur_exp INTO @v_id_obat, @v_nama_obat, @v_tgl_exp, @v_stok_sblm;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Nonaktifkan obat
        UPDATE obat
        SET is_active  = 0,
            updated_at = GETDATE()
        WHERE id_obat = @v_id_obat;

        -- Catat log penonaktifan
        INSERT INTO log_stok (id_obat, stok_sebelum, jumlah_perubahan, stok_sesudah,
                               jenis_transaksi, keterangan)
        VALUES (@v_id_obat, @v_stok_sblm, @v_stok_sblm * -1, 0,
                'penyesuaian',
                CONCAT('Nonaktif - kadaluarsa sejak ', CONVERT(NVARCHAR, @v_tgl_exp, 103)));

        SET @v_jumlah = @v_jumlah + 1;

        FETCH NEXT FROM cur_exp INTO @v_id_obat, @v_nama_obat, @v_tgl_exp, @v_stok_sblm;
    END

    CLOSE cur_exp;
    DEALLOCATE cur_exp;

    SELECT CONCAT(@v_jumlah, ' obat kadaluarsa telah dinonaktifkan') AS hasil;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rekap_penjualan_obat]    Script Date: 6/14/2026 8:03:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_rekap_penjualan_obat]
    @p_tgl_awal     DATE,
    @p_tgl_akhir    DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Variabel cursor
    DECLARE @v_id_obat      INT;
    DECLARE @v_nama_obat    NVARCHAR(150);
    DECLARE @v_total_qty    INT;
    DECLARE @v_total_nilai  DECIMAL(14,2);

    -- Tabel sementara untuk menampung hasil
    CREATE TABLE #tmp_rekap (
        id_obat     INT,
        nama_obat   NVARCHAR(150),
        total_qty   INT,
        total_nilai DECIMAL(14,2)
    );

    -- CURSOR: iterasi semua obat dan hitung penjualannya
    DECLARE cur_obat CURSOR FOR
        SELECT
            o.id_obat,
            o.nama_obat,
            ISNULL(SUM(sd.qty), 0)          AS total_qty,
            ISNULL(SUM(sd.subtotal), 0)     AS total_nilai
        FROM obat o
        LEFT JOIN penjualan_detail sd   ON o.id_obat = sd.id_obat
        LEFT JOIN penjualan_header sh   ON sd.id_penjualan = sh.id_penjualan
            AND sh.status = 'selesai'
            AND CAST(sh.tgl_transaksi AS DATE) BETWEEN @p_tgl_awal AND @p_tgl_akhir
        WHERE o.is_active = 1
        GROUP BY o.id_obat, o.nama_obat;

    OPEN cur_obat;
    FETCH NEXT FROM cur_obat INTO @v_id_obat, @v_nama_obat, @v_total_qty, @v_total_nilai;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO #tmp_rekap VALUES (@v_id_obat, @v_nama_obat, @v_total_qty, @v_total_nilai);
        FETCH NEXT FROM cur_obat INTO @v_id_obat, @v_nama_obat, @v_total_qty, @v_total_nilai;
    END

    CLOSE cur_obat;
    DEALLOCATE cur_obat;

    -- Tampilkan hasil diurutkan dari nilai terbesar
    SELECT * FROM #tmp_rekap ORDER BY total_nilai DESC;

    DROP TABLE #tmp_rekap;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tambah_stok]    Script Date: 6/14/2026 8:03:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_tambah_stok]
    @p_id_obat      INT,
    @p_jumlah       INT,
    @p_id_petugas   INT,
    @p_keterangan   NVARCHAR(MAX),
    @p_stok_sesudah INT OUTPUT,
    @p_pesan        NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_stok_sebelum INT = 0;

    SELECT @v_stok_sebelum = stok
    FROM obat
    WHERE id_obat = @p_id_obat;

    IF @v_stok_sebelum IS NULL
    BEGIN
        SET @p_pesan        = 'ERROR: Obat tidak ditemukan';
        SET @p_stok_sesudah = 0;
        RETURN;
    END

    IF @p_jumlah <= 0
    BEGIN
        SET @p_pesan        = 'ERROR: Jumlah harus lebih dari 0';
        SET @p_stok_sesudah = @v_stok_sebelum;
        RETURN;
    END

    UPDATE obat
    SET stok       = stok + @p_jumlah,
        updated_at = GETDATE()
    WHERE id_obat = @p_id_obat;

    SET @p_stok_sesudah = @v_stok_sebelum + @p_jumlah;

    INSERT INTO log_stok (id_obat, id_petugas, stok_sebelum, jumlah_perubahan,
                           stok_sesudah, jenis_transaksi, keterangan)
    VALUES (@p_id_obat, @p_id_petugas, @v_stok_sebelum, @p_jumlah,
            @p_stok_sesudah, 'penyesuaian', @p_keterangan);

    SET @p_pesan = CONCAT('Stok berhasil ditambah. Stok sekarang: ', @p_stok_sesudah);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_terima_pembelian]    Script Date: 6/14/2026 8:03:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_terima_pembelian]
    @p_id_pembelian INT,
    @p_id_petugas   INT,
    @p_pesan        NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_status    NVARCHAR(20);
    DECLARE @v_id_obat   INT;
    DECLARE @v_qty       INT;
    DECLARE @v_stok_sblm INT;

    -- Cek status pembelian
    SELECT @v_status = status
    FROM pembelian_header
    WHERE id_pembelian = @p_id_pembelian;

    IF @v_status IS NULL
    BEGIN
        SET @p_pesan = 'ERROR: Nomor pembelian tidak ditemukan';
        RETURN;
    END

    IF @v_status != 'pending'
    BEGIN
        SET @p_pesan = CONCAT('ERROR: Status pembelian sudah ', @v_status);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- CURSOR: iterasi setiap obat dalam detail pembelian
        DECLARE cur_detail CURSOR FOR
            SELECT id_obat, qty_pesan
            FROM pembelian_detail
            WHERE id_pembelian = @p_id_pembelian;

        OPEN cur_detail;
        FETCH NEXT FROM cur_detail INTO @v_id_obat, @v_qty;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SELECT @v_stok_sblm = stok
            FROM obat
            WHERE id_obat = @v_id_obat;

            -- Tambah stok obat
            UPDATE obat
            SET stok       = stok + @v_qty,
                updated_at = GETDATE()
            WHERE id_obat = @v_id_obat;

            -- Catat log stok (tanpa id_referensi & tipe_referensi)
            INSERT INTO log_stok
                (id_obat, id_petugas, stok_sebelum, jumlah_perubahan,
                 stok_sesudah, jenis_transaksi, keterangan)
            VALUES
                (@v_id_obat, @p_id_petugas, @v_stok_sblm, @v_qty,
                 @v_stok_sblm + @v_qty, 'pembelian', 'Penerimaan pembelian');

            FETCH NEXT FROM cur_detail INTO @v_id_obat, @v_qty;
        END

        CLOSE cur_detail;
        DEALLOCATE cur_detail;

        -- Update status pembelian menjadi diterima
        UPDATE pembelian_header
        SET status     = 'diterima',
            tgl_terima = CAST(GETDATE() AS DATE)
        WHERE id_pembelian = @p_id_pembelian;

        COMMIT TRANSACTION;
        SET @p_pesan = 'Pembelian berhasil diterima dan stok diperbarui';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @p_pesan = CONCAT('ERROR: ', ERROR_MESSAGE());
    END CATCH
END
GO
USE [master]
GO
