USE [apotek_db]
GO
/****** Object:  Table [dbo].[penjualan_header]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penjualan_header](
	[id_penjualan] [int] IDENTITY(1,1) NOT NULL,
	[no_penjualan] [nvarchar](20) NOT NULL,
	[id_pelanggan] [int] NULL,
	[id_petugas] [int] NOT NULL,
	[id_resep] [int] NULL,
	[tgl_transaksi] [datetime] NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
	[diskon] [decimal](14, 2) NOT NULL,
	[total_harga] [decimal](14, 2) NOT NULL,
	[uang_bayar] [decimal](14, 2) NOT NULL,
	[uang_kembali] [decimal](14, 2) NOT NULL,
	[metode_bayar] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[penjualan_header] ON 

INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (1, N'SL-20260516182344', 2, 1, 1, CAST(N'2026-05-17T01:23:44.417' AS DateTime), CAST(7500.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(7500.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(2500.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-05-17T01:23:44.417' AS DateTime))
INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (2, N'SL-20260516182823', 3, 1, 2, CAST(N'2026-05-17T01:28:23.977' AS DateTime), CAST(7500.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(7500.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(2500.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-05-17T01:28:23.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[penjualan_header] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__penjuala__506EEC71C65425E2]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[penjualan_header] ADD UNIQUE NONCLUSTERED 
(
	[no_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [tgl_transaksi]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [diskon]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_kembali]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('tunai') FOR [metode_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('selesai') FOR [status]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_pelanggan] FOREIGN KEY([id_pelanggan])
REFERENCES [dbo].[pelanggan] ([id_pelanggan])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_pelanggan]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_petugas]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD  CONSTRAINT [fk_sh_resep] FOREIGN KEY([id_resep])
REFERENCES [dbo].[resep_header] ([id_resep])
GO
ALTER TABLE [dbo].[penjualan_header] CHECK CONSTRAINT [fk_sh_resep]
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([metode_bayar]='kredit' OR [metode_bayar]='debit' OR [metode_bayar]='bpjs' OR [metode_bayar]='transfer' OR [metode_bayar]='tunai'))
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='selesai'))
GO
