USE [apotek_db]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id_supplier] [int] IDENTITY(1,1) NOT NULL,
	[kode_supplier] [nvarchar](10) NOT NULL,
	[nama_supplier] [nvarchar](150) NOT NULL,
	[alamat] [nvarchar](max) NULL,
	[no_telepon] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[contact_person] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (1, N'SUP001', N'PT Kimia Farma', N'Jl. Veteran No.9, Jakarta', N'02140000001', N'cs@kimiafarma.co.id', N'Budi Santoso', 1, CAST(N'2026-05-16T17:28:18.593' AS DateTime))
INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (2, N'SUP002', N'PT Kalbe Farma', N'Jl. Let.Jend.Suprapto No.4, Jakarta', N'02140000002', N'cs@kalbe.co.id', N'Siti Rahayu', 1, CAST(N'2026-05-16T17:28:18.593' AS DateTime))
INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (3, N'SUP003', N'PT Dexa Medica', N'Jl. Palembang-Prabumulih, Palembang', N'07114000003', N'cs@dexa.co.id', N'Ahmad Fauzi', 1, CAST(N'2026-05-16T17:28:18.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[supplier] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__supplier__701DFC5640CC3862]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[supplier] ADD UNIQUE NONCLUSTERED 
(
	[kode_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT (getdate()) FOR [created_at]
GO
