USE [apotek_db]
GO
/****** Object:  Table [dbo].[obat]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obat](
	[id_obat] [int] IDENTITY(1,1) NOT NULL,
	[kode_obat] [nvarchar](15) NOT NULL,
	[nama_obat] [nvarchar](150) NOT NULL,
	[id_kategori] [int] NULL,
	[id_supplier] [int] NULL,
	[satuan] [nvarchar](20) NOT NULL,
	[stok] [int] NOT NULL,
	[stok_minimum] [int] NOT NULL,
	[harga_beli] [decimal](12, 2) NOT NULL,
	[harga_jual] [decimal](12, 2) NOT NULL,
	[tgl_kadaluarsa] [date] NULL,
	[lokasi_rak] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[obat] ON 

INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (5, N'OBT-001', N'Paracetamol 500mg', NULL, NULL, N'pcs', 12, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(7500.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-17T00:19:54.810' AS DateTime), CAST(N'2026-05-17T01:28:24.107' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (6, N'OBT-002', N'Amoxicillin 500mg', NULL, NULL, N'pcs', 0, 10, CAST(12000.00 AS Decimal(12, 2)), CAST(15000.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-17T00:19:54.810' AS DateTime), CAST(N'2026-05-17T00:19:54.810' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (7, N'OBT-003', N'Ibuprofen 400mg', NULL, NULL, N'pcs', 0, 10, CAST(8000.00 AS Decimal(12, 2)), CAST(11000.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-17T00:19:54.810' AS DateTime), CAST(N'2026-05-17T00:19:54.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[obat] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__obat__B62326C5171C69F4]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[obat] ADD UNIQUE NONCLUSTERED 
(
	[kode_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ('pcs') FOR [satuan]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [stok]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((10)) FOR [stok_minimum]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_beli]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_jual]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD  CONSTRAINT [fk_obat_kategori] FOREIGN KEY([id_kategori])
REFERENCES [dbo].[kategori] ([id_kategori])
GO
ALTER TABLE [dbo].[obat] CHECK CONSTRAINT [fk_obat_kategori]
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD  CONSTRAINT [fk_obat_supplier] FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[obat] CHECK CONSTRAINT [fk_obat_supplier]
GO
