USE [apotek_db]
GO
/****** Object:  Table [dbo].[pelanggan]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelanggan](
	[id_pelanggan] [int] IDENTITY(1,1) NOT NULL,
	[kode_pelanggan] [nvarchar](10) NOT NULL,
	[nama_pelanggan] [nvarchar](150) NOT NULL,
	[no_telepon] [nvarchar](20) NULL,
	[alamat] [nvarchar](max) NULL,
	[no_bpjs] [nvarchar](20) NULL,
	[jenis_pelanggan] [nvarchar](10) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NULL,
	[foto] [varchar](255) NULL,
	[tgl_lahir] [date] NULL,
	[jenis_kelamin] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pelanggan] ON 

INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active], [foto], [tgl_lahir], [jenis_kelamin], [email]) VALUES (1, N'PLG001', N'Umum / Tanpa Nama', N'-', N'-', NULL, N'umum', CAST(N'2026-05-16T17:28:18.933' AS DateTime), 1, N'default_pelanggan.png', CAST(N'1995-01-01' AS Date), N'Laki-laki', N'pelanggan@example.com')
INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active], [foto], [tgl_lahir], [jenis_kelamin], [email]) VALUES (2, N'PLG002', N'Budi Hartono', N'08111111111', N'Jl. Melati No.5, Gresik', NULL, N'umum', CAST(N'2026-05-16T17:28:18.933' AS DateTime), 1, N'default_pelanggan.png', NULL, NULL, NULL)
INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active], [foto], [tgl_lahir], [jenis_kelamin], [email]) VALUES (3, N'PLG003', N'Sari Dewi', N'08222222222', N'Jl. Mawar No.3, Gresik', N'0001234567890', N'bpjs', CAST(N'2026-05-16T17:28:18.933' AS DateTime), 1, N'default_pelanggan.png', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pelanggan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pelangga__94422F479306C2DC]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[pelanggan] ADD UNIQUE NONCLUSTERED 
(
	[kode_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ('umum') FOR [jenis_pelanggan]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ('default_pelanggan.png') FOR [foto]
GO
ALTER TABLE [dbo].[pelanggan]  WITH CHECK ADD CHECK  (([jenis_pelanggan]='bpjs' OR [jenis_pelanggan]='umum'))
GO
