USE [apotek_db]
GO
/****** Object:  Table [dbo].[petugas]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petugas](
	[id_petugas] [int] IDENTITY(1,1) NOT NULL,
	[kode_petugas] [nvarchar](10) NOT NULL,
	[nama_petugas] [nvarchar](150) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[no_telepon] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[petugas] ON 

INSERT [dbo].[petugas] ([id_petugas], [kode_petugas], [nama_petugas], [username], [password_hash], [role], [no_telepon], [is_active], [created_at]) VALUES (1, N'PTG001', N'Admin Apotek', N'admin', N'0192023a7bbd73250516f069df18b500', N'admin', N'081234567001', 1, CAST(N'2026-05-16T17:28:18.733' AS DateTime))
INSERT [dbo].[petugas] ([id_petugas], [kode_petugas], [nama_petugas], [username], [password_hash], [role], [no_telepon], [is_active], [created_at]) VALUES (2, N'PTG002', N'Drs. Rina Apoteker', N'apoteker', N'6814066e4388d49866348536288ee450', N'apoteker', N'081234567002', 1, CAST(N'2026-05-16T17:28:18.733' AS DateTime))
INSERT [dbo].[petugas] ([id_petugas], [kode_petugas], [nama_petugas], [username], [password_hash], [role], [no_telepon], [is_active], [created_at]) VALUES (3, N'PTG003', N'Kasir Satu', N'kasir1', N'de28f8f7998f23ab4194b51a6029416f', N'kasir', N'081234567003', 1, CAST(N'2026-05-16T17:28:18.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[petugas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__0552D622E971220F]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[kode_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__F3DBC57258CA47D0]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT ('kasir') FOR [role]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[petugas]  WITH CHECK ADD CHECK  (([role]='kasir' OR [role]='apoteker' OR [role]='admin'))
GO
