USE [apotek_db]
GO
/****** Object:  Table [dbo].[pembelian_header]    Script Date: 5/17/2026 1:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembelian_header](
	[id_pembelian] [int] IDENTITY(1,1) NOT NULL,
	[no_pembelian] [nvarchar](20) NOT NULL,
	[id_supplier] [int] NOT NULL,
	[id_petugas] [int] NOT NULL,
	[tgl_pesan] [date] NOT NULL,
	[tgl_terima] [date] NULL,
	[total_harga] [decimal](14, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[keterangan] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pembelian_header] ON 

INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at]) VALUES (6, N'PO-20260516180454', 1, 1, CAST(N'2026-05-17' AS Date), NULL, CAST(50000.00 AS Decimal(14, 2)), N'diterima', NULL, CAST(N'2026-05-17T01:04:54.450' AS DateTime))
INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at]) VALUES (7, N'PO-20260516182441', 1, 1, CAST(N'2026-05-17' AS Date), NULL, CAST(25000.00 AS Decimal(14, 2)), N'diterima', NULL, CAST(N'2026-05-17T01:24:41.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[pembelian_header] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pembelia__99ACC7F8EC738E4D]    Script Date: 5/17/2026 1:39:38 AM ******/
ALTER TABLE [dbo].[pembelian_header] ADD UNIQUE NONCLUSTERED 
(
	[no_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD  CONSTRAINT [fk_ph_petugas] FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[pembelian_header] CHECK CONSTRAINT [fk_ph_petugas]
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD  CONSTRAINT [fk_ph_supplier] FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[pembelian_header] CHECK CONSTRAINT [fk_ph_supplier]
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='diterima' OR [status]='pending'))
GO
