USE [master]
GO
/****** Object:  Database [db_apotek]    Script Date: 5/12/2026 2:32:56 PM ******/
CREATE DATABASE [db_apotek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_apotek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\db_apotek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_apotek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\db_apotek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_apotek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_apotek]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[kode_kategori] [varchar](10) NOT NULL,
	[nama_kategori] [varchar](100) NOT NULL,
	[deskripsi] [text] NULL,
	[jenis_obat] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obat]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obat](
	[id_obat] [int] IDENTITY(1,1) NOT NULL,
	[kode_obat] [varchar](15) NOT NULL,
	[nama_obat] [varchar](150) NOT NULL,
	[id_kategori] [int] NULL,
	[id_supplier] [int] NULL,
	[satuan] [varchar](20) NULL,
	[stok] [int] NULL,
	[stok_minimum] [int] NULL,
	[harga_beli] [decimal](12, 2) NULL,
	[harga_jual] [decimal](12, 2) NULL,
	[tgl_kadaluarsa] [date] NULL,
	[lokasi_rak] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_stok_menipis]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Stok Menipis
CREATE VIEW [dbo].[vw_stok_menipis] AS
SELECT o.id_obat, o.kode_obat, o.nama_obat, k.nama_kategori, o.satuan, o.stok, o.stok_minimum,
       (o.stok_minimum - o.stok) AS kekurangan
FROM obat o JOIN kategori k ON o.id_kategori = k.id_kategori
WHERE o.stok <= o.stok_minimum AND o.is_active = 1;
GO
/****** Object:  View [dbo].[vw_obat_kadaluarsa]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Obat Kadaluarsa
CREATE VIEW [dbo].[vw_obat_kadaluarsa] AS
SELECT o.id_obat, o.nama_obat, o.stok, o.tgl_kadaluarsa,
       DATEDIFF(day, GETDATE(), o.tgl_kadaluarsa) AS sisa_hari,
       CASE WHEN o.tgl_kadaluarsa < GETDATE() THEN 'Kadaluarsa' ELSE 'Aman' END AS status_kadaluarsa
FROM obat o WHERE o.tgl_kadaluarsa <= DATEADD(day, 90, GETDATE());
GO
/****** Object:  Table [dbo].[pelanggan]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelanggan](
	[id_pelanggan] [int] IDENTITY(1,1) NOT NULL,
	[kode_pelanggan] [varchar](10) NOT NULL,
	[nama_pelanggan] [varchar](150) NOT NULL,
	[no_telepon] [varchar](20) NULL,
	[alamat] [text] NULL,
	[no_bpjs] [varchar](20) NULL,
	[jenis_pelanggan] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resep_header]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resep_header](
	[id_resep] [int] IDENTITY(1,1) NOT NULL,
	[no_resep] [varchar](20) NOT NULL,
	[id_pelanggan] [int] NULL,
	[id_petugas] [int] NULL,
	[nama_dokter] [varchar](150) NULL,
	[asal_klinik] [varchar](150) NULL,
	[tgl_resep] [date] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_resep_pending]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Resep Pending
CREATE VIEW [dbo].[vw_resep_pending] AS
SELECT rh.id_resep, rh.no_resep, p.nama_pelanggan, rh.nama_dokter, rh.tgl_resep, rh.status
FROM resep_header rh JOIN pelanggan p ON rh.id_pelanggan = p.id_pelanggan
WHERE rh.status IN ('menunggu', 'diproses');
GO
/****** Object:  Table [dbo].[log_stok]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_stok](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_obat] [int] NULL,
	[id_petugas] [int] NULL,
	[stok_sebelum] [int] NULL,
	[jumlah_perubahan] [int] NULL,
	[stok_sesudah] [int] NULL,
	[jenis_transaksi] [varchar](30) NULL,
	[id_referensi] [int] NULL,
	[tipe_referensi] [varchar](30) NULL,
	[keterangan] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pembelian_detail]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembelian_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_pembelian] [int] NULL,
	[id_obat] [int] NULL,
	[qty_pesan] [int] NULL,
	[qty_terima] [int] NULL,
	[harga_satuan] [decimal](12, 2) NULL,
	[subtotal] [decimal](14, 2) NULL,
	[tgl_kadaluarsa] [date] NULL,
	[no_batch] [varchar](50) NULL,
	[stok_sisa] [int] NULL,
	[qty] [int] NULL,
	[harga_beli] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pembelian_header]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembelian_header](
	[id_pembelian] [int] IDENTITY(1,1) NOT NULL,
	[no_pembelian] [varchar](20) NOT NULL,
	[id_supplier] [int] NULL,
	[id_petugas] [int] NULL,
	[tgl_pesan] [date] NOT NULL,
	[tgl_terima] [date] NULL,
	[total_harga] [decimal](14, 2) NULL,
	[status] [varchar](20) NULL,
	[keterangan] [text] NULL,
	[created_at] [datetime] NULL,
	[nama_pengirim] [varchar](100) NULL,
	[no_telp_pengirim] [varchar](20) NULL,
	[no_faktur] [varchar](50) NULL,
	[tgl_pembelian] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penjualan_detail]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penjualan_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_penjualan] [int] NULL,
	[id_obat] [int] NULL,
	[qty] [int] NULL,
	[harga_satuan] [decimal](12, 2) NULL,
	[diskon_pct] [decimal](5, 2) NULL,
	[subtotal] [decimal](14, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penjualan_header]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penjualan_header](
	[id_penjualan] [int] IDENTITY(1,1) NOT NULL,
	[no_penjualan] [varchar](20) NOT NULL,
	[id_pelanggan] [int] NULL,
	[id_petugas] [int] NULL,
	[id_resep] [int] NULL,
	[tgl_transaksi] [datetime] NULL,
	[subtotal] [decimal](14, 2) NULL,
	[diskon] [decimal](14, 2) NULL,
	[total_harga] [decimal](14, 2) NULL,
	[uang_bayar] [decimal](14, 2) NULL,
	[uang_kembali] [decimal](14, 2) NULL,
	[metode_bayar] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[petugas]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petugas](
	[id_petugas] [int] IDENTITY(1,1) NOT NULL,
	[kode_petugas] [varchar](10) NOT NULL,
	[nama_petugas] [varchar](150) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[no_telepon] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resep_detail]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resep_detail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_resep] [int] NULL,
	[id_obat] [int] NULL,
	[qty] [int] NULL,
	[dosis] [varchar](50) NULL,
	[aturan_pakai] [varchar](100) NULL,
	[catatan] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 5/12/2026 2:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id_supplier] [int] IDENTITY(1,1) NOT NULL,
	[kode_supplier] [varchar](10) NOT NULL,
	[nama_supplier] [varchar](150) NOT NULL,
	[alamat] [text] NULL,
	[no_telepon] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[contact_person] [varchar](100) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kategori] ON 

INSERT [dbo].[kategori] ([id_kategori], [kode_kategori], [nama_kategori], [deskripsi], [jenis_obat], [is_active], [created_at]) VALUES (1, N'KAT001', N'Analgesik', N'Obat pereda nyeri', N'bebas', 1, CAST(N'2026-05-11T10:00:26.973' AS DateTime))
INSERT [dbo].[kategori] ([id_kategori], [kode_kategori], [nama_kategori], [deskripsi], [jenis_obat], [is_active], [created_at]) VALUES (2, N'KAT002', N'Antibiotik', N'Obat infeksi bakteri', N'keras', 1, CAST(N'2026-05-11T10:00:26.973' AS DateTime))
INSERT [dbo].[kategori] ([id_kategori], [kode_kategori], [nama_kategori], [deskripsi], [jenis_obat], [is_active], [created_at]) VALUES (3, N'KAT003', N'Vitamin', N'Suplemen kesehatan', N'bebas', 1, CAST(N'2026-05-11T10:00:26.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[log_stok] ON 

INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [id_referensi], [tipe_referensi], [keterangan], [created_at]) VALUES (6, 1, NULL, 5, -1, 4, N'penjualan', NULL, NULL, N'Penjualan Otomatis', CAST(N'2026-05-12T03:47:54.947' AS DateTime))
INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [id_referensi], [tipe_referensi], [keterangan], [created_at]) VALUES (7, 3, NULL, 17, -1, 16, N'penjualan', NULL, NULL, N'Penjualan Otomatis', CAST(N'2026-05-12T04:04:40.710' AS DateTime))
INSERT [dbo].[log_stok] ([id_log], [id_obat], [id_petugas], [stok_sebelum], [jumlah_perubahan], [stok_sesudah], [jenis_transaksi], [id_referensi], [tipe_referensi], [keterangan], [created_at]) VALUES (8, 3, NULL, 15, -1, 14, N'penjualan', NULL, NULL, N'Penjualan Otomatis', CAST(N'2026-05-12T04:18:30.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[log_stok] OFF
GO
SET IDENTITY_INSERT [dbo].[obat] ON 

INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (1, N'OBT001', N'Amoxicillin 500mg', NULL, NULL, N'pcs', 3, 10, CAST(0.00 AS Decimal(12, 2)), CAST(5000.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-12T00:25:07.090' AS DateTime), CAST(N'2026-05-12T00:25:07.090' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (2, N'OBT002', N'Paracetamol Syrup', NULL, NULL, N'pcs', 60, 10, CAST(0.00 AS Decimal(12, 2)), CAST(15000.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-12T00:25:07.090' AS DateTime), CAST(N'2026-05-12T00:25:07.090' AS DateTime))
INSERT [dbo].[obat] ([id_obat], [kode_obat], [nama_obat], [id_kategori], [id_supplier], [satuan], [stok], [stok_minimum], [harga_beli], [harga_jual], [tgl_kadaluarsa], [lokasi_rak], [is_active], [created_at], [updated_at]) VALUES (3, N'OBT003', N'Promag Tablet', NULL, NULL, N'pcs', 11, 10, CAST(0.00 AS Decimal(12, 2)), CAST(8000.00 AS Decimal(12, 2)), NULL, NULL, 1, CAST(N'2026-05-12T00:25:07.090' AS DateTime), CAST(N'2026-05-12T00:25:07.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[obat] OFF
GO
SET IDENTITY_INSERT [dbo].[pelanggan] ON 

INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active]) VALUES (1, N'PLG01', N'Budi Santoso', N'0812345678', N'Bangkalan', NULL, N'umum', CAST(N'2026-05-11T10:06:32.690' AS DateTime), 1)
INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active]) VALUES (2, N'PLG02', N'Siti Aminah', N'0857778889', N'Kamal', NULL, N'bpjs', CAST(N'2026-05-11T10:06:32.690' AS DateTime), 1)
INSERT [dbo].[pelanggan] ([id_pelanggan], [kode_pelanggan], [nama_pelanggan], [no_telepon], [alamat], [no_bpjs], [jenis_pelanggan], [created_at], [is_active]) VALUES (3, N'112', N'24-228 FAHDIMAS AKMAL', N'091212', N'bangkalan', N'', N'umum', CAST(N'2026-05-12T13:37:28.963' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[pelanggan] OFF
GO
SET IDENTITY_INSERT [dbo].[pembelian_detail] ON 

INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa], [qty], [harga_beli]) VALUES (1, 1, 1, 0, 0, CAST(0.00 AS Decimal(12, 2)), CAST(15000.00 AS Decimal(14, 2)), CAST(N'2026-06-01' AS Date), NULL, 5, 5, CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa], [qty], [harga_beli]) VALUES (2, 1, 2, 0, 0, CAST(0.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(14, 2)), CAST(N'2027-12-01' AS Date), NULL, 49, 50, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[pembelian_detail] ([id_detail], [id_pembelian], [id_obat], [qty_pesan], [qty_terima], [harga_satuan], [subtotal], [tgl_kadaluarsa], [no_batch], [stok_sisa], [qty], [harga_beli]) VALUES (3, 1, 3, 0, 0, CAST(0.00 AS Decimal(12, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(N'2026-05-20' AS Date), NULL, 1, 2, CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[pembelian_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[pembelian_header] ON 

INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at], [nama_pengirim], [no_telp_pengirim], [no_faktur], [tgl_pembelian]) VALUES (1, N'FKT-SIMULASI-001', 1, 1, CAST(N'2026-05-12' AS Date), NULL, CAST(525000.00 AS Decimal(14, 2)), N'pending', NULL, CAST(N'2026-05-12T00:25:07.093' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at], [nama_pengirim], [no_telp_pengirim], [no_faktur], [tgl_pembelian]) VALUES (2, N'FKT-20260511-001', 1, 1, CAST(N'2026-05-11' AS Date), NULL, CAST(150000.00 AS Decimal(14, 2)), N'pending', NULL, CAST(N'2026-05-12T04:03:54.813' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[pembelian_header] ([id_pembelian], [no_pembelian], [id_supplier], [id_petugas], [tgl_pesan], [tgl_terima], [total_harga], [status], [keterangan], [created_at], [nama_pengirim], [no_telp_pengirim], [no_faktur], [tgl_pembelian]) VALUES (3, N'FKT-20260512-001', 1, 1, CAST(N'2026-05-12' AS Date), NULL, CAST(120000.00 AS Decimal(14, 2)), N'pending', NULL, CAST(N'2026-05-12T13:43:43.390' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pembelian_header] OFF
GO
SET IDENTITY_INSERT [dbo].[penjualan_detail] ON 

INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (5, 6, 1, 1, CAST(5000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(5000.00 AS Decimal(14, 2)))
INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (6, 7, 3, 1, CAST(8000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(8000.00 AS Decimal(14, 2)))
INSERT [dbo].[penjualan_detail] ([id_detail], [id_penjualan], [id_obat], [qty], [harga_satuan], [diskon_pct], [subtotal]) VALUES (7, 8, 3, 1, CAST(8000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(8000.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[penjualan_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[penjualan_header] ON 

INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (5, N'SL-20260511204630', 1, 1, 5, CAST(N'2026-05-12T03:46:30.127' AS DateTime), CAST(0.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(5000.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(5000.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-05-12T03:46:30.127' AS DateTime))
INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (6, N'SL-20260511204754', 1, 1, 5, CAST(N'2026-05-12T03:47:54.850' AS DateTime), CAST(0.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(5000.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(5000.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-05-12T03:47:54.850' AS DateTime))
INSERT [dbo].[penjualan_header] ([id_penjualan], [no_penjualan], [id_pelanggan], [id_petugas], [id_resep], [tgl_transaksi], [subtotal], [diskon], [total_harga], [uang_bayar], [uang_kembali], [metode_bayar], [status], [created_at]) VALUES (7, N'SL-20260511210440', 1, 1, 6, CAST(N'2026-05-12T04:04:40.657' AS DateTime), CAST(0.00 AS Decimal(14, 2)), CAST(0.00 AS Decimal(14, 2)), CAST(8000.00 AS Decimal(14, 2)), CAST(10000.00 AS Decimal(14, 2)), CAST(2000.00 AS Decimal(14, 2)), N'tunai', N'selesai', CAST(N'2026-05-12T04:04:40.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[penjualan_header] OFF
GO
SET IDENTITY_INSERT [dbo].[petugas] ON 

INSERT [dbo].[petugas] ([id_petugas], [kode_petugas], [nama_petugas], [username], [password_hash], [role], [no_telepon], [is_active], [created_at]) VALUES (1, N'PTG001', N'Dimas Admin', N'admin', N'0192023a7bbd73250516f069df18b500', N'admin', NULL, 1, CAST(N'2026-05-10T23:24:35.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[petugas] OFF
GO
SET IDENTITY_INSERT [dbo].[resep_detail] ON 

INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (5, 5, 1, 1, N'2x1', N'Sesudah Makan', NULL)
INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (6, 6, 3, 1, N'2x1', N'Sesudah Makan', NULL)
INSERT [dbo].[resep_detail] ([id_detail], [id_resep], [id_obat], [qty], [dosis], [aturan_pakai], [catatan]) VALUES (7, 7, 3, 1, N'2x1', N'Sesudah Makan', NULL)
SET IDENTITY_INSERT [dbo].[resep_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[resep_header] ON 

INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [asal_klinik], [tgl_resep], [status], [created_at]) VALUES (5, N'R-01', 1, 1, N'Dimas', NULL, CAST(N'2026-05-11' AS Date), N'selesai', CAST(N'2026-05-12T03:46:07.770' AS DateTime))
INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [asal_klinik], [tgl_resep], [status], [created_at]) VALUES (6, N'R-02', 1, 1, N'Dimas', NULL, CAST(N'2026-05-11' AS Date), N'selesai', CAST(N'2026-05-12T04:04:23.353' AS DateTime))
INSERT [dbo].[resep_header] ([id_resep], [no_resep], [id_pelanggan], [id_petugas], [nama_dokter], [asal_klinik], [tgl_resep], [status], [created_at]) VALUES (7, N'R-03', 1, 1, N'Dimas', NULL, CAST(N'2026-05-11' AS Date), N'selesai', CAST(N'2026-05-12T04:18:17.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[resep_header] OFF
GO
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (1, N'SUP01', N'PT Kimia Farma TD', N'Jl. Rungkut Industri No.1, Surabaya', N'031-8431234', NULL, N'Ibu Endang (Manager Logistik)', 1, CAST(N'2026-05-11T10:19:48.590' AS DateTime))
INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (2, N'SUP02', N'PT Kalbe Farma Tbk', N'Kawasan Industri Delta Silicon, Cikarang', N'021-8970001', NULL, N'Bp. Heru (Admin Purchasing)', 1, CAST(N'2026-05-11T10:19:48.590' AS DateTime))
INSERT [dbo].[supplier] ([id_supplier], [kode_supplier], [nama_supplier], [alamat], [no_telepon], [email], [contact_person], [is_active], [created_at]) VALUES (3, N'SUP03', N'PT Sanbe Farma', N'Jl. Industri Cimareme No.8, Bandung', N'022-6867000', NULL, N'Ibu Shinta (Sales Representative)', 1, CAST(N'2026-05-11T10:19:48.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[supplier] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__kategori__6B23B3695AD5B0DE]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[kategori] ADD UNIQUE NONCLUSTERED 
(
	[kode_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__obat__B62326C554450656]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[obat] ADD UNIQUE NONCLUSTERED 
(
	[kode_obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pelangga__94422F477CD4E537]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[pelanggan] ADD UNIQUE NONCLUSTERED 
(
	[kode_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pembelia__99ACC7F8AC52ADF1]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[pembelian_header] ADD UNIQUE NONCLUSTERED 
(
	[no_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__penjuala__506EEC71FF227DDD]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[penjualan_header] ADD UNIQUE NONCLUSTERED 
(
	[no_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__0552D62208DDECA8]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[kode_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__petugas__F3DBC572B08F5ACB]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[petugas] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__resep_he__7FC5E67FE7D446E6]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[resep_header] ADD UNIQUE NONCLUSTERED 
(
	[no_resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__supplier__701DFC5669D1CF31]    Script Date: 5/12/2026 2:32:58 PM ******/
ALTER TABLE [dbo].[supplier] ADD UNIQUE NONCLUSTERED 
(
	[kode_supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT ('bebas') FOR [jenis_obat]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[kategori] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [stok_sebelum]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [jumlah_perubahan]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT ((0)) FOR [stok_sesudah]
GO
ALTER TABLE [dbo].[log_stok] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ('pcs') FOR [satuan]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [stok]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((10)) FOR [stok_minimum]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_beli]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((0)) FOR [harga_jual]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[obat] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ('umum') FOR [jenis_pelanggan]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pelanggan] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [qty_pesan]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [qty_terima]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [harga_satuan]
GO
ALTER TABLE [dbo].[pembelian_detail] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[pembelian_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [harga_satuan]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [diskon_pct]
GO
ALTER TABLE [dbo].[penjualan_detail] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [tgl_transaksi]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [diskon]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [total_harga]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ((0)) FOR [uang_kembali]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('tunai') FOR [metode_bayar]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT ('selesai') FOR [status]
GO
ALTER TABLE [dbo].[penjualan_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT ('kasir') FOR [role]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[petugas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[resep_detail] ADD  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [dbo].[resep_header] ADD  DEFAULT ('menunggu') FOR [status]
GO
ALTER TABLE [dbo].[resep_header] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD FOREIGN KEY([id_kategori])
REFERENCES [dbo].[kategori] ([id_kategori])
GO
ALTER TABLE [dbo].[obat]  WITH CHECK ADD FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[pembelian_detail]  WITH CHECK ADD FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[pembelian_detail]  WITH CHECK ADD FOREIGN KEY([id_pembelian])
REFERENCES [dbo].[pembelian_header] ([id_pembelian])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD FOREIGN KEY([id_supplier])
REFERENCES [dbo].[supplier] ([id_supplier])
GO
ALTER TABLE [dbo].[penjualan_detail]  WITH CHECK ADD FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[penjualan_detail]  WITH CHECK ADD FOREIGN KEY([id_penjualan])
REFERENCES [dbo].[penjualan_header] ([id_penjualan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD FOREIGN KEY([id_pelanggan])
REFERENCES [dbo].[pelanggan] ([id_pelanggan])
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD FOREIGN KEY([id_resep])
REFERENCES [dbo].[resep_header] ([id_resep])
GO
ALTER TABLE [dbo].[resep_detail]  WITH CHECK ADD FOREIGN KEY([id_obat])
REFERENCES [dbo].[obat] ([id_obat])
GO
ALTER TABLE [dbo].[resep_detail]  WITH CHECK ADD FOREIGN KEY([id_resep])
REFERENCES [dbo].[resep_header] ([id_resep])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD FOREIGN KEY([id_pelanggan])
REFERENCES [dbo].[pelanggan] ([id_pelanggan])
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD FOREIGN KEY([id_petugas])
REFERENCES [dbo].[petugas] ([id_petugas])
GO
ALTER TABLE [dbo].[kategori]  WITH CHECK ADD CHECK  (([jenis_obat]='psikotropika' OR [jenis_obat]='narkotika' OR [jenis_obat]='keras' OR [jenis_obat]='bebas_terbatas' OR [jenis_obat]='bebas'))
GO
ALTER TABLE [dbo].[log_stok]  WITH CHECK ADD CHECK  (([jenis_transaksi]='return' OR [jenis_transaksi]='penyesuaian' OR [jenis_transaksi]='penjualan' OR [jenis_transaksi]='pembelian'))
GO
ALTER TABLE [dbo].[pelanggan]  WITH CHECK ADD CHECK  (([jenis_pelanggan]='bpjs' OR [jenis_pelanggan]='umum'))
GO
ALTER TABLE [dbo].[pembelian_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='diterima' OR [status]='pending'))
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([metode_bayar]='kredit' OR [metode_bayar]='debit' OR [metode_bayar]='bpjs' OR [metode_bayar]='transfer' OR [metode_bayar]='tunai'))
GO
ALTER TABLE [dbo].[penjualan_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='selesai'))
GO
ALTER TABLE [dbo].[petugas]  WITH CHECK ADD CHECK  (([role]='kasir' OR [role]='apoteker' OR [role]='admin'))
GO
ALTER TABLE [dbo].[resep_header]  WITH CHECK ADD CHECK  (([status]='dibatalkan' OR [status]='selesai' OR [status]='diproses' OR [status]='menunggu'))
GO
USE [master]
GO
